@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
@await Component.InvokeAsync("_DefaultHeadComponentPartial")
<!-- Bu şu anlama gelir: _DefaultHeadComponentPartial adlı ViewComponent'i çalıştır ve sonucunu buraya bas -->
<body>

    @await Component.InvokeAsync("_DefaultHeaderComponentPartial")

    <main>
        @await Component.InvokeAsync("_DefaultSliderComponentPartial")

        @await Component.InvokeAsync("_BookingAreaComponentPartial")
        @await Component.InvokeAsync("_DefaultFeatureSectionComponentPartial")
        @await Component.InvokeAsync("_DefaultOfferDealComponentPartial")
        @await Component.InvokeAsync("_DefaultDestinationOfferComponentPartial")
        @await Component.InvokeAsync("_DefaultPopularDestinationsComponentPartial")
        @await Component.InvokeAsync("_DefaultServiceComponentPartial")
        @await Component.InvokeAsync("_DefaultFlightStatusComponentPartial")
        @await Component.InvokeAsync("_DefaultFrequantlyAskedQuestionComponentPartial")
        



    </main>
    @await Component.InvokeAsync("_DefaultScriptsComponentPartial")
    @await Component.InvokeAsync("_DefaultFooterComponentPartial")
</body>
</html>